*.obj
*.OBJ
*.lib
*.exe
*.ncb
*.suo
*.pdb
*.aps
*.dsp
*.dsw
.vs
Release
Debug
GeneratedFiles
vc90.idl
vc90.idb
vc90.pdb
/3rdparty
*.sdf
*.opensdf
*.user
moc_*.cpp
ui_*.h
DoxyDoc
CMakeSettings.json
edit.bat
build